services:
  owl-backend:
    hostname: owl-backend
    image: jbcodeforce/athena-owl-backend:latest 
    container_name: owl-backend
    ports:
      - 8000:8000
    environment:
      CONFIG_FILE: /app/config/config.yaml
      #OPENAI_API_KEY: $OPENAI_API_KEY
    env_file:
      - ../../.env
    volumes:
      - ../../ibu_backend/config:/app/config
      - ../../.env:/app/.env
      - ./data/file_content:/app/file_content
      - ./data/chromadb:/app/chromadb
      - ../../ibu_backend/src/ibu:/app/ibu
  owl-frontend:
    hostname: owl-frontend
    image: jbcodeforce/athena-owl-frontend:latest 
    container_name: owl-frontend
    ports:
      - 3000:80
    environment:
      - REACT_APP_OWL_AGENT_NAME="IBU Insurance Management Agent"
      - REACT_APP_BACKEND_URL=http://localhost:8000/api/v1/
      - REACT_APP_ASSISTANT_ID_WITH_RULES='ibu_assistant'
      - REACT_APP_ASSISTANT_ID_WITHOUT_RULES='ibu_assistant_limited'
      - REACT_APP_DEMO_TEXT="My name is Sonya Smith, I have problem with my claim 2 for my water damage, my carpet is expensive, I m surprise of the current coverage, very disappointing?"
      
  insurance-data-mgr:
    image: jbcodeforce/ibu-insurance-data-mgr:latest 
    hostname: datamgr
    container_name: datamgr
    depends_on:
      - postgres
    ports: 
      - 8080:8080
    environment:
      - QUARKUS_DATASOURCE_USERNAME=postgres
      - QUARKUS_DATASOURCE_PASSWORD=p0stgrespwd
      - QUARKUS_DATASOURCE_JDBC_URL=jdbc:postgresql://postgres:5432/insurancedb
  postgres:
    image: postgres:latest
    restart: always
    container_name: postgres
    hostname: postgres
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=p0stgrespwd
      - POSTGRES_DB=insurancedb
    logging:
      options:
        max-size: 10m
        max-file: "3"
    ports:
      - '5432:5432'
    volumes: 
      - ./data/claimdb:/var/lib/postgresql/data
  decisionsvc:
    image: icr.io/cpopen/odm-k8s/odm:8.12
    hostname: decisionsvc
    container_name: decisionsvc
    ports:
      - 9443:9443
      - 9060:9060
    user: "1001:0"
    environment:
      - SAMPLE=false
      - LICENSE=accept
    volumes:
      - ../../decisions/persistence:/config/dbdata/
  chroma-db:
    image: ghcr.io/chroma-core/chroma:latest
    hostname: chroma-db
    container_name: chroma-db
    volumes:
      - ./chromadb:/.chroma/index
    ports:
      - 8005:8000
  